

@{
    ViewBag.Title = "Add";
}
@model ProductVM
<h2>Product Add</h2>

@*<form action="" method="" enctype="multipart/form-data">

</form>*@


@using (Html.BeginForm("Add", "Product", FormMethod.Post,new { enctype="multipart/form-data" }))
{
    <div class="form-group">
        @Html.LabelFor(x => x.Name)
        @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.UnitsInStock)
        @Html.TextBoxFor(x => x.UnitsInStock, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.Price)
        @Html.TextBoxFor(x => x.Price, new { @class = "form-control" })
    </div>

    <div class="form-group">
        <label>Alt Kategori Seçiniz</label>
        <select class="form-control" name="SubCategoryID">
            @foreach (var item in Model.AltKategoriler)
            {
                <option value="@item.ID">@item.Name</option>
            }
        </select>
    </div>

    <div class="form-group">
        <label>Resim :</label>
        <input type="file" name="Image" class="form-control"/>
    </div>

    <input type="submit" class="form-control btn btn-primary" value="Ekle"/>
}




