
@{
    ViewBag.Title = "GetProducts";
    Layout = "~/Views/Shared/Layoutum.cshtml";
}
<style>
    .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        max-width: 300px;
       
        text-align: center;
        font-family: arial;
    }

    .price {
        color: grey;
        font-size: 22px;
    }

    .card button {
        border: none;
        outline: 0;
        padding: 12px;
        color: white;
        background-color: #000;
        text-align: center;
        cursor: pointer;
        width: 100%;
        font-size: 18px;
    }

        .card button:hover {
            opacity: 0.7;
        }
</style>

@model List<Product>

@if (Model.Count > 0)
{
    <h2>@Model[0].AltKategori.Name  Kategorisinin Ürünleri</h2>

    <div class="row">



        @foreach (var item in Model)
        {
        <div class="col-md-4 col-lg-4">

            <div class="card">
                <img src="@item.ImagePath" alt="Denim Jeans" style="width:100%">
                <h1>@item.Name</h1>
                <p class="price">@item.Price.Value.ToString("c2")</p>
                <p>Some text about the jeans. Super slim and comfy lorem ipsum lorem jeansum. Lorem jeamsun denim lorem jeansum.</p>
                <p>@Ajax.ActionLink("Sepete Ekle", "AddToCart", "Cart",new {id=item.ID }, new AjaxOptions { OnSuccess = "sepetScripti" }, new { @class = "btn btn-warning" })</p>
            </div>

        </div>

        }
    </div>

}

else
{
    <div class="alert alert-danger">Bu kategoriye ait ürün bulunmamaktadır.</div>
}


@section scriptlerim{
    
    <script>
        function sepetScripti(param) {
            $('#sepetSayi').html(param.length)
        }
    </script>
    }